.boite{
    margin-top: 2%;
    width: 20%;
    height: 5vh;
    border-radius: 10px;
    margin-left: .9%;
    margin-bottom: 1%;
    background-color: brown;
    padding-left: 2%;
    padding-top: .2%;
    font-size: 1.2rem;
    color: white;
    display: none;
    position: relative;
    bottom: -70%;
}
.body-message{
    height: 90vh;
    /* border: 1px solid black; */
}
.body-message input{
    width: 100%;
    margin-right: 1%;
    margin-left: 1%;
}
.send{
    
    position: relative;
    bottom: -70%;
}
.send form{
    display: flex;
}